.wrapper{
  display: flex;
  flex-flow: row nowrap;


}

app-code-mirror {
  max-width: 50%;
  height:100vh;
}

app-live-preview {
  width: 50%;
  height:100vh;
  padding-left: 3%;
  border: solid 3px black;
}
