
<md-sidenav-container class="wrapper">
    <div id="download">
     <app-download [codeToDownLoad]="code"></app-download>
    </div>
    <div id="side-nav-toggle"><a class="btn-large waves-effect waves-light deep-purple" (click)="sidenavOpen(start)"><i class="material-icons">add</i></a></div>
    <md-sidenav #start mode="side" [opened]="false"><app-materialize-ui id="ui-components" (dragOver)="dragHandler($event)"></app-materialize-ui></md-sidenav>
    <div id="codeShit">
     <app-code-mirror (change)="editorChangeHandler($event)" [dragCode]="dragCode"></app-code-mirror>
      <app-live-preview [code]="code"></app-live-preview>
  </div>
</md-sidenav-container>

