






<md-sidenav-container class="wrapper">
  <div id="side-nav-toggle"><a></a><i class="material-icons large" (click)="sidenavOpen(start)">add</i></div>
  <md-sidenav #start mode="side" [opened]="false"><app-materialize-ui (dragOver)="dragHandler($event)"></app-materialize-ui></md-sidenav>
  <div id="codeShit">
  <app-code-mirror (change)="editorChangeHandler($event)" [dragCode]="dragCode"></app-code-mirror>
  <app-live-preview [code]="code"></app-live-preview>
  </div>
</md-sidenav-container>

