.wrapper{
  background-color: #bdbdbd;
}

#main-view{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}

#download{
  text-align: center;
  padding-top: 3%;
}

app-code-mirror {
  max-width: 50%;
  height:100vh;
}

app-live-preview {
  width: 50%;
  height:100vh;
  border: solid 1px #757575;
  background-color: #fefefe;
}

md-sidenav{
  max-width: 18%;
  background-color: #ffffff;
  text-align: center;
}

#side-nav-toggle{
  width: 2%;
  text-align: center;
  background-color: #009587;
}
#side-nav-toggle i {
  font-size: 1.5em;
  color: #fefefe;
}

#side-nav-toggle:hover {
  background-color: #b1deda;
  transition: .5s ease-in-out;

}
