<div class="hero-image">
  <h1>MaterializeThis!</h1>
  <p>A graphical interface for Materialize.css</p>
  <img class="demo" src="./assets/demoGif.gif">
  <button class="hoverable" routerLink="/code" md-raised-button>Try me!</button>

</div>
<div class="transition-1">

</div>
<div class="features-1 valign-wrapper">
 <div class="dnd-features valign">
   <p>Easily Drag and Drop all your favorite materialize ui components into the in-browser editor and watch your creations come to life!</p>
   <ul>
     <li>Drag Components into the editor</li>
     <li>Fully Formatted HTML allows for easy editing</li>
     <li>All the Materialize.css classes can be used in code!</li>
   </ul>

 </div>
<img src="http://placehold.it/350x150">



</div>
<div class="features-2">

</div>
