<div class="hero-image">
  <h1>MaterializeThis!</h1>
  <p>A graphical interface for Materialize.css</p>
  <iframe class="demo" width="560" height="400" src="https://www.youtube.com/embed/Yx0Gc2qdmsM" frameborder="0" allowfullscreen></iframe>
  <button class="hoverable" routerLink="/code" md-raised-button>Try me!</button>

</div>
<div class="transition-1">

</div>
<div class="features-1 valign-wrapper">
 <div class="dnd-features valign">
   <p>Easily Drag and Drop all your favorite materialize ui components into the in-browser editor and watch your creations come to life!</p>
   <ul>
     <li>Drag Components into the editor</li>
     <li>Fully Formatted HTML allows for easy editing</li>
     <li>All the Materialize.css classes can be used in code!</li>
   </ul>

 </div>
<img  class='dnd' src="./assets/demoGif.gif">



</div>
<div class="transition-2"></div>
<div class="features-2">
  <h3>With MaterializeThis you don't need to remember complicated syntax for the ui components, you just need to include the styling classes to customize your page!</h3>
  <h4>When you are done, download your code and you are good to go!</h4>
  <button class="hoverable amber large" routerLink="/code" md-raised-button>Try Now</button>
</div>
