/*hero image*/
.hero-image {
  max-width: 100%;
  height: 90vh;
  background-image: linear-gradient(
    rgba(0, 149, 135, 0.99),
    rgba(254, 192, 7, 0.9)
  ),
  url(../../../assets/materialize.png);
  background-size: contain;
  text-align: center;
  padding-top: 10%;

}

.hero-image h1 {
  display: inline-block;
  font-size: 5.5em;
  font-weight: 700;
  color: #fefefe;
  font-family: 'Baloo Bhaina', cursive;
  text-shadow: 5px 5px 15px #000;
  margin: 0;
  padding: 0;
}

.hero-image p {
  color: #efefef;
  font-size: 1.5em;
  text-align: center;
  margin-top: 0;
}
.hero-image .demo {
  margin: auto;
  display: block;
  padding-bottom: 2%;
  width: 50%;


}

.hero-image button {
  background-color: #00796b;
  font-size: 2em;
  color: #efefef;
  padding: 2% 3%;
}


/*in between*/
.transition-1 {
  height: 5vh;
  background-color: #bdbdbd;
}

/*set of features*/
.features-1 {
  background-color: #efefef;
  color: #212121;
  height: 40vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}
.features-1 .dnd-features {
  max-width: 50%;
  padding: 5%;
  font-size: 1.5em;
}
.features-1 ul {
  padding-left: 3%;
  margin: 2% 0 0 5%;
  font-size: 2rem;
}
.features-1 li {
  padding:2%;
  font-size: .7em;
  list-style: circle;
  color: #757575;
}
.features-1 img {
  max-width: 50%;
  padding: 5%;
}
