<div class="body">
  <div class="main container">
    <p>This app was built using:</p>
    <div id="tech">
    <md-list class="client">
      <h2 md-subheader>Client</h2>
      <md-list-item>Angular 2</md-list-item>
      <md-list-item>TypeScript</md-list-item>
      <md-list-item>Angular Material 2 | Materialize.css</md-list-item>
      <md-list-item>CodeMirror</md-list-item>
      <md-list-item>Firebase</md-list-item>
    </md-list>
    <md-list class="server">
      <h2 md-subheader>Server</h2>
      <md-list-item>Node.js</md-list-item>
      <md-list-item>Express</md-list-item>
      <md-list-item>MongoDB</md-list-item>
      <md-list-item>Heroku</md-list-item>
    </md-list>
    </div>
    <div class="code-use">
      <a class="btn-large amber" target="_blank" href="https://github.com/stevencastroverde/MaterializeThis-">Project Repo!</a>
      <p> Feel free to use/modify the code in any of your projects. If you do, I would love to check it out! Also, if you find a bug or a better way to do something you are more than welcome to open a pull request, I am always interested in improving my work. Send a line at any of the following:</p>
    </div>
      <md-list class="contact-info">
        <md-list-item><button md-button><a  target="_blank" href="mailto:steven.castroverde@gmail.com">Email</a></button></md-list-item>
        <md-list-item><button md-button><a  target="_blank" href="https://www.linkedin.com/in/stevencastroverde/">Linkedin</a></button></md-list-item>
        <md-list-item><button md-button><a  target="_blank" href="https://github.com/stevencastroverde">Github</a></button></md-list-item>
      </md-list>
  </div>
</div>
