.nav-bar {
  height: 10%;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6663;


}

  #title{
  font-size: 1.5em;
  color: #2b4141;
  margin-left: 2%;



}
  .nav-links {
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 8%;

}
.link {
  outline: none;
  position: relative;
  font-size: 1em;
  line-height: 1;
  display:block;
  margin: 0 5%;
  padding: 0 5%;
}

.link a  {
  text-decoration: none;
  color: #2b4141;
}
.link a:hover {
  color: #ddf8e8;
  transition: .5s ease-out;

}





