.nav-bar {
  height: 10%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;


}

  #title{
  font-size: 1.5em;


}
  .nav-links {
  display: inline-flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;

}
 .nav-links li {
  padding: .5em;
  display: block;

 }
